*{
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

tr.done > th, tr.done > td{
  background-color: rgba(25, 135, 84) !important;
  color: white;
}

table.dark th, table.dark td{
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.tableButton{
  width: 40px;
}
.tableIndex{
  width: 50px;
}

.light{
  background-color: var(--bs-white);
  color: var(--bs-dark);
}

.dark{
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

html{
  height: 100%;
}
body{
  height: 100%;
}
.app{
  height: 100%;
}
#root{
  height: 100%;
}

.close{
  z-index: 2;
  transition-duration: 200ms;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--bs-white) !important;
  color: var(--bs-dark) !important;
}

.close.active{
  background-color: var(--bs-dark) !important;
  color: var(--bs-white) !important;
}


.close:hover{
  cursor: pointer;
  background-color: var(--bs-primary) !important;
  color: var(--bs-white);
}

.stepIcon{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.note{
  border-radius: 20px;
  border: 1px solid black;
  min-height: 260px;
}

.note.dark{
  border: 1px solid white;
}

.note .text{
  height: 100px;
}
.note .title{
  height: 50px;
}