*{
  transition-duration: 200ms;
}

.col>div{
  border-radius: 10px;
  height: 100px;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}
.col>div.active{
  background-color: var(--bs-primary);
  color: var(--bs-white);
}
.col>div .back{
  display: none;
}
.col>div.active .back{
  display: block;
}
.col>div.active .front{
  display: none;
}

.stepIcon{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}
.stepIcon.active{
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.PrevNextButton:hover{
  background-color: var(--bs-primary);
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}